#Navbar {
    border: 10px solid black;
    padding: 10px;  
    margin: 10px;
    display: inline-block;
    font-weight: 500;
    background-color:  red;

}

#blackJackTable {
    border: 10px solid black;
    padding: 10px;  
    margin: 10px;
    display: inline-block;
    font-weight: 500;
    background-color:  green;
}

#blackJackCards {
    border: 10px solid black;
    padding: 10px;  
    margin: 10px;
    display: inline-block;
    font-weight: 500;
    background-color:  blue;
}

#bettingButtons {
    border: 10px solid black;
    padding: 10px;  
    margin: 10px;
    display: inline-block;
    font-weight: 500;
    background-color:  yellow;
}

