/*  Setup the outside of the games canvas html element border. */

#idleGameCanvas {
    border: 1px solid black;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    background-color: gray;


}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

#idleGameButtons {
    background-color: #4CAF50; /* for example */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 24px;
}


