#reel1, #reel2, #reel3, #reel4, #reel5 {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 100px; /* adjust as needed */
    height: 300px; /* adjust as needed */
  
}

#symbol11, #symbol12, #symbol13, #symbol21, #symbol22, #symbol23, #symbol31, #symbol32, #symbol33, #symbol41, #symbol42, #symbol43, #symbol51, #symbol52, #symbol53 {
    font-size: 75px; /* adjust as needed */
}

#spinButton { 
    font-size: 20px; /* adjust as needed */
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 100px; /* adjust as needed */
    height: 70px; /* adjust as needed */
}


#Navbar {
    border: 10px solid black;
    padding: 10px;  
    margin: 10px;
    display: inline-block;
    font-weight: 500;
    background-color:  red;
}


